#bubble1{
    animation: introbubble .8s forwards .5s;
    -webkit-animation: introbubble .8s forwards .5s;
}
#bubble2{
    animation: introbubble .4s forwards .5s;
    -webkit-animation: introbubble .4s forwards .5s;
}
#bubble3{
    animation: introbubble .6s forwards .5s;
    -webkit-animation: introbubble .6s forwards .5s;
}
#bubble4{
    animation: introbubble .4s forwards .5s;
    -webkit-animation: introbubble .4s forwards .5s;
}
#bubble5{
    animation: introbubble 1s forwards .5s;
    -webkit-animation: introbubble 1s forwards .5s;
}
#bubble6{
    animation: introbubble 1s forwards .5s;
    -webkit-animation: introbubble 1s forwards .5s;
}
#bubble7{
    animation: introbubble .8s forwards .5s;
    -webkit-animation: introbubble .8s forwards .5s;
}
#bubble8{
    animation: introbubble 0.6s forwards .5s;
    -webkit-animation: introbubble .6s forwards .5s;
}
#bubble9{
    animation: introbubble 0.4s forwards .5s;
    -webkit-animation: introbubble .4s forwards .5s;
}
#bubble10{
    animation: introbubble 1.5s forwards .5s;
    -webkit-animation: introbubble 1.5s forwards .5s;
}
#bubble11{
    animation: introbubble 1.4 forwards .5ss;
    -webkit-animation: introbubble 1.4s forwards .5s;
}
#bubble12{
    animation: introbubble 1s forwards .5s;
    -webkit-animation: introbubble 1s forwards .5s;
}
#bubble13{
    animation: introbubble 0.8s forwards .5s;
    -webkit-animation: introbubble .8s forwards .5s;
}
#bubble14{
    animation: introbubble 0.6s forwards .5s;
    -webkit-animation: introbubble .6s forwards .5s;
}
#bubble15{
    animation: introbubble 1s forwards .5s;
    -webkit-animation: introbubble 1s forwards .5s;
}
#bubble16{
    animation: introbubble 1s forwards .5s;
    -webkit-animation: introbubble 1s forwards .5s;
}